/*-----  RESETS  -----*/

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid lime; */

}

/*-----  RESETS  -----*/



/*-----  VARIABLES  -----*/

:root {

  --bgcl: #060912;
  --textcl: #F9F3FF;

  --maincl: #36FFFF;
  --secondarycl: #9057f9;
  --emeraldcl: #27cf99;
  --rosecl: #c93f63;
  --orangecl: #f99369;

}

/*-----  VARIABLES  -----*/



body {

  font-family: "Chakra Petch", sans-serif;
  font-size: 1.29rem;
  color: var(--textcl);
  background-color: var(--bgcl);
  letter-spacing: 0.0625rem;
  word-spacing: 0.21rem;

}


/*♣♣♣♣♣♣♣♣ ALTHOUGH I WRITE THIS CODE  ♣♣♣♣♣♣♣♣*/


::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: var(--bgcl);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--secondarycl), var(--textcl), var(--rosecl));
  border-radius: 1.29rem;
  border: 1px solid var(--bgcl);
}


/*♣♣♣♣♣♣♣♣ THIS SCROLL BAR WILL NOT WORK IN SAFARI AND FIREFOX  ♣♣♣♣♣♣♣♣*/



/********* NAV STARTS *********/

nav {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.44rem;
  padding: 1.44rem 3.6rem;
  position: fixed;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(108px);

}


nav>p {

  font-size: 1.62rem;
  font-weight: 609;
  color: transparent;
  background-image: linear-gradient(108deg, var(--emeraldcl) 9%, var(--rosecl) 69%, var(--secondarycl) 108%);
  background-clip: text;

}


nav input {

  position: absolute;
  right: 5.1%;
  height: 27px;
  width: 27px;
  z-index: 12;
  opacity: 0;

}


#navlinks {
  display: flex;
  list-style-type: none;
}


.navicon,
.navicon2 {
  display: none;
  z-index: 9;
  font-size: 1.53rem;
}


nav a {

  text-decoration-line: none;
  color: var(--textcl);
  margin-left: 5.1rem;
  position: relative;

}


nav a:hover::before {
  width: 100%;
}

nav a::before {

  content: "";
  position: absolute;
  width: 0%;
  height: 0.54vh;
  background-color: var(--maincl);
  bottom: -36%;
  box-shadow: 0px -3px 9px var(--maincl);
  transition: width 390ms;

}



/********* NAV ENDS *********/



.section-gap {
  /*UTILITY CLASS FOR ALL SECTIONS*/
  margin-block: 6.9rem;
  padding-inline: 3.6rem;
}


.heading {
  /*UTILITY CLASS FOR ALL SECTIONS'S HEADING*/

  color: #F9F3FF;
  font-weight: 400;
  font-size: 1.62rem;
  margin-bottom: 2.7rem;

}



/********* HOME_SECTION STARTS *********/



.home {
  display: flex;
  align-items: center;
}


.profilepic {

  width: 30.9%;
  border-radius: 50%;
  margin-inline: auto;
  border: 9px solid transparent;
  box-shadow: 0px 0px 27px 12px var(--emeraldcl);
  animation: PICUPDOWN 1290ms linear infinite;


}


/*-- ANIMATION FOR PROFILE PIC --*/


@keyframes PICUPDOWN {

  50% {
    transform: translateY(2.1%);
  }

}


/*-- ANIMATION FOR PROFILE PIC --*/


.profilepic>img {
  display: block;
  width: 100%;
  border-radius: inherit;
}


.selfinfo {
  width: 54%;
}


.selfinfo>p>span {

  background-image: linear-gradient(108deg, var(--secondarycl) 9%, var(--maincl) 69%, var(--orangecl) 81%);
  color: transparent;
  background-clip: text;
  font-weight: 609;

}


.selfinfo>:nth-child(3)>span {
  color: var(--bgcl);
  -webkit-text-stroke: 3px transparent;
  animation: TEXT 1290ms linear infinite;
}


/*-- ANIMATION FOR TEXT COLOR CHANGE --*/


@keyframes TEXT {

  100% {
    filter: hue-rotate(360deg);
  }

}


/*-- ANIMATION FOR TEXT COLOR CHANGE --*/


.selfinfo>:first-child {
  font-size: 2.16rem;
  margin-block: 3rem;
}


.selfinfo>:nth-child(2),
.selfinfo>:nth-child(3) {
  font-size: 2.61rem;
}


.selfinfo a {

  width: 39%;
  display: block;
  background-color: var(--maincl);
  color: var(--bgcl);
  text-decoration-line: none;
  font-weight: 810;
  margin-block: 3rem;
  padding: 0.54rem;
  border-radius: 2.1rem;
  text-align: center;
  box-shadow: 0px 0px 18px 3px var(--maincl);
  transition: box-shadow 210ms linear 21ms, transform 69ms linear;

}


.selfinfo a:hover {
  box-shadow: 0px 0px 9px var(--maincl), 0px 0px 36px var(--maincl), 0px 0px 45px var(--maincl);
}


.selfinfo a:active {
  transform: scale(0.96);
}



/********* HOME_SECTION ENDS *********/



/********* ABOUT_SECTION STARTS *********/



.aboutinfo {

  display: flex;
  flex-direction: column;
  padding: 1.9rem;
  border: 2px solid transparent;
  border-image:
    linear-gradient(120deg, var(--secondarycl), var(--rosecl), var(--orangecl)) 9;

}


#greet~p {
  margin-bottom: 2.1rem;
}


.aboutinfo>:nth-child(3) {
  margin-top: 2.1rem;
  color: var(--maincl);
}


#personalinfo{
  font-size: 1.8rem;
}


#personalinfo:hover {
  cursor: pointer;
  text-shadow: 0px 0px 9px var(--maincl);
}


.aboutinfo>:nth-child(2) span~div {

  width: 72%;
  margin-inline: auto;
  margin-top: 2.1rem;
  text-align: left;

}



/********* ABOUT_SECTION ENDS *********/



/********* SKILLS_SECTION STARTS *********/



.skillsinfo {

  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2.1rem;
  position: relative;
  border-radius: 1.29rem;
  background-color: var(--bgcl);

}


.skillsinfo::before {

  content: "";
  position: absolute;
  height: 102%;
  width: 100.2%;
  left: -0.09%;
  top: -1.2%;
  background-image: linear-gradient(90deg, var(--maincl), var(--secondarycl), var(--rosecl), var(--maincl));
  z-index: -1;
  filter: blur(21px);
  animation: BOXSHADOW 1290ms linear infinite;

}


/*-- ANIMATION FOR BOX SHADOW CHANGE --*/


@keyframes BOXSHADOW {

  0% {
    background-position-x: 0vw;
  }

  100% {
    background-position-x: 93vw;
  }

}


/*-- ANIMATION FOR BOX SHADOW CHANGE --*/


.skillsinfo svg {
  width: 138px;
  height: 138px;
  transition: transform 210ms ease-in;
}


.skillsinfo svg:hover {
  transform: translateY(-9%);
}


.meters {

  border-radius: 50%;
  border: 6px solid transparent;
  width: 162px;
  height: 162px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.8rem;
  box-shadow: 0px 0px 9px var(--textcl);
  margin-inline: 1.08rem;

}


.meters>b{
  font-size: 2.1rem;
}


.meter-1 {
  background: linear-gradient(var(--bgcl), var(--bgcl)) padding-box,
    conic-gradient(#E34B24 0deg, #E34B24 324deg, #393939 324deg, #393939 360deg)border-box;
    color: #E34B24;
}


.meter-2 {
  background: linear-gradient(var(--bgcl), var(--bgcl)) padding-box,
    conic-gradient(#29A5DE 0deg, #29A5DE 270deg, #393939 270deg, #393939 360deg)border-box;
    color: #29A5DE;
}


.meter-3 {
  background: linear-gradient(var(--bgcl), var(--bgcl)) padding-box,
    conic-gradient(#21A5BA 0deg, #21A5BA 248.4deg, #393939 248.4deg, #393939 360deg)border-box;
  color: #21A5BA;
}


.meter-4 {
  background: linear-gradient(var(--bgcl), var(--bgcl)) padding-box,
    conic-gradient(#f5dd1b 0deg, #f5dd1b 162deg, #393939 162deg, #393939 360deg)border-box;
    color: #f5dd1b;
}


.meters p{
  color: white;
}



/********* SKILLS_SECTION ENDS *********/



/********* CONTACT_SECTION STARTS *********/



.contactlinks {
  display: flex;
  align-items: center;
  margin-top: 1.29rem;
}


.contactlinks svg {
  height: 39px;
  width: 39px;
  transition: transform 210ms ease-in-out;
  margin-left: 2.7rem;
}


.contactlinks svg:hover {
  transform: scale(1.29);
}


.contactlinks+p {
  margin-top: 2.7rem;
  text-align: center;
}


.contactform {

  width: 54%;
  margin-inline: auto;
  margin-top: 3.9rem;
  padding: 0.27rem;
  border-radius: 1.29rem;
  overflow: hidden;

}


.contactform p {

  padding-top: 1.29rem;
  font-size: 2.1rem;
  text-align: center;
  background-color: var(--bgcl);
  border-radius: 1.09rem 1.09rem 0rem 0rem;

}


.contactform>form * {

  display: block;
  width: 81%;
  margin-inline: auto;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.29rem;
  margin-top: 2.1rem;
  color: var(--bgcl);
  border: none;

}


.contactform form {

  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--bgcl);
  border-radius: 0rem 0rem 1.29rem 1.29rem;

}


.contactform form::before {

  content: "";
  position: absolute;
  height: 209%;
  width: 209%;
  background-image: conic-gradient(transparent, var(--maincl) 36deg, var(--maincl) 69deg, transparent 69deg, transparent 180deg, var(--secondarycl) 216deg, var(--secondarycl) 249deg, transparent 249deg, transparent 360deg);
  z-index: -1;
  animation: BORDERROTATE 3900ms linear infinite;

}


/*-- ANIMATION FOR BORDER ROTATE --*/


@keyframes BORDERROTATE {

  100% {
    transform: rotate(360deg);
  }

}


/*-- ANIMATION FOR BORDER ROTATE --*/


.contactform form::after {

  content: "";
  position: absolute;
  height: 150%;
  width: 109%;
  background-color: #393939;
  z-index: -2;

}


.contactform ::placeholder {
  color: var(--bgcl);
}


.contactform input,
.contactform textarea {
  padding: 0.69rem;
  border-radius: 0.912rem;
  background-color: var(--textcl);
}


.contactform input:focus,
.contactform textarea:focus {
  outline: none;
  box-shadow: 0px 0px 21px 6px var(--emeraldcl);
}


.contactform form>:last-child {

  width: 50%;
  margin-inline: auto;
  margin-bottom: 1.29rem;
  border-radius: 0;
  font-weight: 810;
  background-image: linear-gradient(108deg, #fffccc 9%, #c3f6ff 81%);

}


.contactform form>:last-child {
  cursor: pointer;
}



/********* CONTACT_SECTION ENDS *********/