* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {

  --bgcl: #060912;
  --textcl: #F9F3FF;

  --maincl: #36FFFF;
  --secondarycl: #9057f9;
  --emeraldcl: #27cf99;
  --rosecl: #c93f63;
  --orangecl: #f99369;

}


body {
  font-family: "Chakra Petch", sans-serif;
  background-color: var(--bgcl);
  color: var(--textcl);
  font-size: 1.29rem;
  letter-spacing: 0.0625rem;
  word-spacing: 0.21rem;
}


.Scroll-Progress-Bar{
  height: 0.21vh;
  position: fixed;
  top: 0;
  z-index: 1008;
  background-color: var(--maincl);
  width: 0%;
  animation: SCROLL-PROGRESS linear;
  animation-timeline: scroll();
}

@keyframes SCROLL-PROGRESS {
  100%{
    width: 100%;
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.44rem 3.6rem;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--bgcl);
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, #536996 , #393E39) 9;
}


nav a {
  text-decoration-line: none;
  margin-left: 5.1rem;
  color: var(--textcl);
  position: relative;
}

nav a:hover::before {
  width: 100%;
}

nav a::before {
  content: "";
  position: absolute;
  background-color: var(--maincl);
  box-shadow: 0px -3px 9px var(--maincl);
  width: 0%;
  height: 2px;
  bottom: -36%;
  transition: width 309ms;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav>div>p {
  font-size: 1.71rem;
  font-weight: 609;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(108deg, var(--emeraldcl) 9%, var(--rosecl) 69%);
}


.section-gap {          /*UTILITY CLASS*/                     
  margin-block: 6.9rem;
  padding-inline: 3.6rem;
}


.home {
  display: flex;
  align-items: center;
}


.profilepic {
  width: 30.9%;
  border-radius: 50%;
  margin-inline: auto;
  border: 9px solid transparent;
  box-shadow: 0px 0px 27px 12px var(--emeraldcl);
  animation: PICUPDOWN 1290ms linear infinite;
}

@keyframes PICUPDOWN {
  50% {
    transform: translateY(2.1%);
  }
}


.profilepic>img {
  display: block;
  width: 100%;
  border-radius: inherit;
}

.selfinfo {
  width: 54%;
}

.selfinfo>p>span {
  background-clip: text;
  color: transparent;
  font-weight: 609;
  background-image: linear-gradient(108deg, var(--secondarycl) 9%, var(--maincl) 69%, var(--orangecl) 81%);
}

.selfinfo>:nth-child(3)>span {
  color: var(--bgcl);
  -webkit-text-stroke: 3px transparent;
  animation: TEXT 1290ms linear infinite;
}

@keyframes TEXT {
  100% {
    filter: hue-rotate(360deg);
  }
}


.selfinfo>:first-child {
  font-size: 2.16rem;
  margin-block: 3rem;
  /**/
}

.selfinfo>:nth-child(2),
.selfinfo>:nth-child(3) {
  font-size: 2.61rem;
}

.selfinfo a {
  width: 39%;
  display: block;
  font-weight: 810;
  color: var(--textcl);
  text-decoration-line: none;
  background-color: var(--maincl);
  color: var(--bgcl);
  margin-block: 3rem;
  text-align: center;
  border-radius: 2.1rem;
  padding: 0.54rem;
  box-shadow: 0px 0px 18px 3px var(--maincl);
  transition: box-shadow 210ms linear 21ms, transform 69ms linear;
}

.selfinfo a:hover {
  box-shadow: 0px 0px 9px var(--maincl), 0px 0px 36px var(--maincl), 0px 0px 45px var(--maincl);
}

.selfinfo a:active {
  transform: scale(0.96);
}




.skillsheading,
.aboutmeheading {
  width: fit-content;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, var(--emeraldcl) 9%, var(--rosecl) 69%);
}



.skillsinfo {
  margin-top: 2.7rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0.54rem;
  position: relative;
  background-color: var(--bgcl);
  border-radius: 3.9rem;
}


.skillsinfo::before {
  content: "";
  position: absolute;
  height: 102%;
  width: 100.2%;
  left: -0.09%;
  top: -1.2%;
  background-image: linear-gradient(90deg, var(--maincl), var(--secondarycl), var(--rosecl), var(--maincl));
  z-index: -1;
  border-radius: inherit;
  animation: BORDERSCROLL 1290ms linear infinite;
  filter: blur(21px);
}

@keyframes BORDERSCROLL {
  0% {
    background-position-x: 0vw;
  }

  100% {
    background-position-x: 93vw;
  }
}

.skillsinfo svg {
  width: 45%;
  transition: transform 210ms ease-in;
}
.skillsinfo svg:hover{
  transform: translateY(-9%);
}

.skillsinfo>:last-child svg {
  filter: invert(1);
}

.skillsinfo svg,
.skillsinfo p {
  margin-top: 0.9rem;
}






.aboutmeinfo {
  margin-top: 2.7rem;
  display: flex;
  border: 2px solid transparent;
  border-radius: 1.29rem;
  background: linear-gradient(var(--bgcl), var(--bgcl)) padding-box,
    linear-gradient(120deg, var(--secondarycl), var(--rosecl), var(--orangecl)) border-box;
  padding: 1.9rem;
}



#greet~p {
  margin-bottom: 2.1rem;
}

.aboutmeinfo>:first-child {
  width: 54%;
  text-align: justify;
}

.aboutmeinfo>:nth-child(2) {
  margin-inline: auto;
  width: 46%;
  text-align: center;

}

.aboutmeinfo>:nth-child(2) span {
  margin-inline: 3.6rem;
  color: var(--maincl);
}

.aboutmeinfo>:nth-child(2) span:hover {
  cursor: pointer;
  text-shadow: 0px 0px 9px var(--maincl);
}


.aboutmeinfo>:nth-child(2) span~div {
  width: 72%;
  margin-inline: auto;
  margin-top: 2.1rem;
  text-align: left;
}

#aboutme-text {
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  padding: 0.9rem;
  border-image: radial-gradient(circle at top left, var(--emeraldcl), transparent 27%) 9;
}



/* ALTHOUGH I WRITE THIS CODE  */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: var(--bgcl);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--secondarycl), var(--textcl), var(--rosecl));
  border-radius: 1.29rem;
  border: 1px solid var(--bgcl);
}

/* THIS WILL NOT WORK IN SAFARI AND FIREFOX */